

#loading{
    position: absolute;
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,1);
}

#facts {
    position: relative;
    margin-top: 200px;
}

/* we do not have a LH sidebar */
.container-fluid > .content {
  margin-left: 0;
}

.recline-grid-container {
  height: 400px;
}

.recline-timeline .vmm-timeline {
  height: 400px;
}

.vmm-timeline p {
  font-size: 14px;
}
